* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {

}


.row::after {
  content: '''';
  display: table;
  clear: both;
}

.col {
  float: left;
}


.login {
  width: 50%;
}

.h-100 {
  height: 100px
}

.row .login {
  background-color: #D8F2F2;
  border-bottom: 2px solid #111230;
}


.nav {
  width: 100%;
}

.row .nav {
  background-color: white;
}


.freetools {
  width: 100%
}

.h-300 {
  height: 300px
}

.row .freetools {
  background-color: #F0D8EF;
  border-bottom: 5px solid #111230;
}


.separator {
  width: 100%
}

.row .separator {
  background-color: #4FE8CF;
  border-bottom: 5px solid #111230;
}


.learn-more {
  width: 100%
}

.h-700 {
  height: 700px
}

.row .learn-more {
  background-color: #D3E8D7;
}



.tabella {
  width: 100%;
}

.h-400 {
  height: 400px;
}

.row .tabella {
  background-color: #149992;
}



.sponsor {
  width: 100%
}

.row .sponsor {
  background-color: #EDF2F2;
}


.footer {
  width: 100%;
}

.h-350 {
  height: 350px;
}

.row .footer {
  background-color: #111230;
}
